.footer {
    background: linear-gradient(to right, #8B6F6F, #e37f7a);
    color: #FFFFFF;
    text-align: center;
    padding: 15px 20px;
    margin-top: auto;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}